@use "@/ThemeMUI/variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // outline: 1px solid rgba(0, 0, 255, 0.3);
}
html,
body {
  height: 100%;
}
.layoutWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: $primaryBackgroundColor;
  color: white;
}
main {
}
