@use "@/ThemeMUI/variables" as *;

.raid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: 0.3s;
  background-color: rgba($mutedColor, 0.1);
  min-height: 80px;
  .left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
  }
  .right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
  }
}
