//MAIN VARIABLES

//COLOR
$mutedColor: rgb(126, 126, 126);

//BACKGROUND
$primaryBackgroundColor: rgb(23, 23, 23);
$secondaryBackgroundColor: rgb(30, 30, 30);

//BORDER
$secondaryBorderLineColor: rgb(60, 60, 60);

//STATUS COLORS
$planned: #fa6060;
$waitingScreenshot: #fa9160;
$waitingSubmit: #f7fa60;
$ended: #60fa75;

//BOSS COLORS
$Jmg: rgba(255, 0, 255, 1);
$AbyssalJmg: rgba(0, 255, 255, 1);
$Rangora: rgba(255, 0, 0, 1);
$Morpheus: rgba(255, 255, 0, 1);
$Kraken: rgba(0, 255, 0, 1);
$BlackDragon: rgba(255, 140, 0, 1);
$Charybdis: rgba(0, 255, 255, 1);
$Leviathan: rgba(0, 150, 255, 1);
$Anthalon: rgba(255, 100, 150, 1);
$AbyssalSehekmet: rgba(255, 215, 0, 1);
$Kaliel: rgba(255, 255, 255, 1);

//SECTION PADDING
$mainSectionPadding: 3.125rem 0;
$secondarySectionPadding: 2rem 0;

//REPORT STEPPER
$StepperBodyPadding: 24px;
$PrimaryStepperColor: rgba(232, 234, 246, 1);
$SecondaryStepperColor: rgba(197, 202, 233, 1);
