@use "@/ThemeMUI/variables" as *;

.header {
  border-bottom: 1px solid $mutedColor;
  padding: 0.5rem 0;
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .imageWrapper {
      position: relative;
      width: 56px;
      height: 56px;
    }
  }
}
