@use "@/ThemeMUI/variables" as *;

.raidHeaderSection {
  position: relative;
  padding: $secondarySectionPadding;
  border-bottom: 1px solid $secondaryBorderLineColor;
  .returnIcon {
    position: absolute;
    left: 0;
    top: 0;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      
      .topLeft{
        .muted{
          color: $mutedColor;
        }
      }
      .topRight{

      }
    }
    
    .statusContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 8px;margin-left: auto;
    }

    .bottom {
      display: flex;
      column-gap: 0.5rem;
      align-items: center;
      .infoWrapper{
        display: flex;
        column-gap: 0.5rem;

        .infoBlock {
          display: flex;
          column-gap: 0.3rem;
          .muted {
            color: $mutedColor;
          }
        }
      }
      
      
      .completeButtonContainer {
        margin-left: auto;
        padding-left: 1rem;
      }
    }
  }
}
