@use "@/ThemeMUI/variables" as *;

.overview {
  display: flex;
  padding: $secondarySectionPadding;
  gap: 5rem;
  .wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    row-gap: 2rem;
    .raidDescription {
      .description {
        margin-top: 1rem;
        padding: 1rem;
        background-color: $secondaryBackgroundColor;
        border-radius: 0.4rem;
        min-height: 8rem;
      }
    }
  }
  .aside {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    .participants {
      .participantsList {
        margin-top: 1rem;
      }
    }
    .loot {
      .lootList {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        row-gap: 1rem;
        .lootItem {
          display: flex;
          column-gap: 1rem;
          justify-content: space-between;
          .title {
            display: flex;
            align-items: center;
            column-gap: 0.5rem;
            .imageWrapper {
              position: relative;
              width: 40px;
              height: 40px;
            }
            .icon {
              object-fit: cover;
              border-radius: 0.3rem;
            }
          }
          .quantity {
            padding: 0.5rem 1rem;
            background-color: $secondaryBackgroundColor;
            border-radius: 0.3rem;
          }
        }
      }
    }
  }
}
