@use "@/ThemeMUI/variables" as *;

.raidListSection {
  padding: $mainSectionPadding;

  .heading {
    padding-bottom: 1rem;
    border-bottom: 1px solid $secondaryBorderLineColor;
    .title {
    }
    .subtitle {
      color: $mutedColor;
    }
  }
}
